{{ partial "header" . }}

{{- $options := (dict "targetPath" "scss/main.css" "outputStyle" "expanded" "enableSourceMap" "true") -}}
{{- $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
<link rel = 'stylesheet' href = '{{ $styles.Permalink }}' integrity = '{{ $styles.Data.Integrity }}'>

{{ define "main" }}

<div class = 'wrap pt-2 mt-2'>
    {{- $size := .Paginator.PageSize }}
    {{ $pages := .Paginate (where .Pages "Type" "gallery").ByWeight }}
    {{ $scratch := newScratch }}
    {{- range $index, $value := $pages.Pages }}
        {{ if isset .Params "image" }}
            {{ $scratch.Set "image" .Params.image }}
        {{ else }}
            {{ $scratch.Set "image" "thumbnail.svg" }}
        {{ end }}
        {{ $image := $scratch.Get "image" }}
        {{ $bg := (absURL (printf "%s" $image)) }}
        <article class = 'article mb-2'>
            <a href = '{{ $value.Permalink }}' style = "text-decoration: none" {{ if eq $index 0 }} class = 'grid-reverse' {{ end }}>
                <div class = 'article_thumb' style='background-image: url({{ $bg }})'></div>
                <div class = 'article_meta {{ if eq $index 0 }} center_y {{ end }}'>
                    <!-- <time class = 'pale'>{{ dateFormat "January 02, 2006" $value.Date }}</time> -->
                    <h3 class = 'article_title'>{{ $value.Title }}</h3>

                    <!-- this ne 0 is only because summary on the first item doesn't look nice -->
                    {{ if ne $index 0 }}
                    <div class = 'article_excerpt'>
                         <p>{{ $value.Summary | truncate 100 }}</p>
                    </div>
                    {{ end }}
                </div>
            </a>
        </article>
            {{- if and (eq $index 0) (gt $size 1)  }}<div class = 'grid-2 article_showcase'>{{ end }}
            {{- if and (eq $index (add $size -1)) (gt $size 1) }}</div>{{ end }}
            {{- end }}
        </div>
        <!-- <a href = '{{ absURL (printf "post/%s" "") }}' class = 'post_nav'><span class = 'post_next'>View Archive</span></a> -->
</div>

{{ end }}

<main>
    {{ block "main" . }}{{ end }}
</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}

{{ $scriptPath := "js/index.newsroom.js" }}
{{ $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src = '{{ $scripts.Permalink }}'></script>
